.order-table-container {
    flex: 1;
  }
  
  .order-form-container {
    flex: 1;
    margin-left: 20px; 
    background: repeating-radial-gradient(#ff5858, #fb0000 191px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  